:root {
	--background: #fff;
	--foreground: #09090b;
	--card: #fff;
	--card-foreground: #09090b;
	--primary: #574747;
	--primary-foreground: #fafafa;
	--secondary: #f4f4f5;
	--secondary-foreground: #574747;
	--muted: #f4f4f5;
	--muted-foreground: #71717a;
	--faint: #fafafa;
	--accent: #f4f4f5;
	--danger: #df514c;
	--danger-foreground: #fafafa;
	--success: #4caf50;
	--success-foreground: #fafafa;
	--warning: #ff8c00;
	--warning-foreground: #09090b;
	--border: #d4d4d8;
	--input: #d4d4d8;
	--ring: #574747;
/*	--background: #faf4ed;
	--foreground: #575279;
	--card: #faf4ed;
	--card-foreground: #575279;
	--primary: #d7827e;
	--primary-foreground: #fffaf3;
	--secondary: #f2e9e1;
	--secondary-foreground: #797593;
	--muted: #f2e9e1;
	--muted-foreground: #9893a5;
	--faint: #fffaf3;
	--accent: #f2e9e1;
	--danger: #b4637a;
	--danger-foreground: #fffaf3;
	--success: #56949f;
	--success-foreground: #fffaf3;
	--warning: #ea9d34;
	--warning-foreground: #575279;
	--border: #cecacd;
	--input: #cecacd;
	--ring: #d7827e;*/
	--font-sans: "SUSE", system-ui, sans-serif;
	--font-mono: "SUSE Mono", ui-monospace, Consolas, monospace;
}

main {
	padding-left: 40px;
}

/*label {
	margin: 10px;
}*/

fieldset {
	margin: 10px 0;
}

code {
	color: var(--foreground);
	font-weight: var(--font-semibold);
}

a {
	align-items: center;
	display: flex;
}

h1 {
	align-items: center;
	display: flex;
	gap: 10px;
}

img {
	border-radius: var(--radius-medium);
	width: 100%
}

table {
	font-size: medium;
}

thead {
	font-family: var(--font-mono)
}

input[type="file"] {
	margin-top: 10px;
}

input[type="number"] {
	font-family: var(--font-mono);
}

input[type="text"] {
	font-family: var(--font-mono);
}

.topnav {
	display: flex;
	justify-content: flex-begin;
}

.sidebar {
/* 	width: 200px; */
}

.navbtn {
/* 	display: inline-block */
}

.material-symbols-outlined {
	vertical-align: middle;
}

.badge {
	vertical-align: middle;
}

.container {
	display: grid;
	gap: 10px;
	padding: 0;
	margin: 0;
}

.side-by-side {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-right: 30px;
}

.general-conf {
	flex-grow: 1;
}

.tag-conf {
	flex-grow: 1
}

.title {
	margin: auto;
	font-size: 14pt;
}

.dropdown-content {
	max-height: 60vh;
	overflow-y: scroll;
}

.badge {
	padding: 5px 10px;
	font-size: 10pt;
}

#get-conf {
	float: center;
}

/*#missing-prompt {
	text-align: center;
}*/

