:root {
/*	--background: #fff;
	--foreground: #09090b;
	--card: #fff;
	--card-foreground: #09090b;
	--primary: #574747;
	--primary-foreground: #fafafa;
	--secondary: #f4f4f5;
	--secondary-foreground: #574747;
	--muted: #f4f4f5;
	--muted-foreground: #71717a;
	--faint: #fafafa;
	--accent: #f4f4f5;
	--danger: #df514c;
	--danger-foreground: #fafafa;
	--success: #4caf50;
	--success-foreground: #fafafa;
	--warning: #ff8c00;
	--warning-foreground: #09090b;
	--border: #d4d4d8;
	--input: #d4d4d8;
	--ring: #574747;*/
	--font-sans: "SUSE", system-ui, sans-serif;
	--font-mono: "SUSE Mono", ui-monospace, Consolas, monospace;
}

main {
	margin-left: 40px;
}

/*label {
	margin: 10px;
}*/

form {
	width: 400px;
}

fieldset {
	margin: 10px;
}

input[type="number"] {
	font-family: var(--font-mono);
}

.topnav {
	display: flex;
	justify-content: flex-begin;
}

.sidebar {
/* 	width: 200px; */
}

.navbtn {
/* 	display: inline-block */
}

.material-symbols-outlined {
	vertical-align: middle;
}

#missing-prompt {
	text-align: center;
}

